:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --background-color: #e5e5e5;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: var(--background-color);
}
/*header style*/
.header-style {
  background: var(--white);
}
.logo {
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-links:hover,
.menu-links:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean);
}
.address-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}
.address-links:hover,
.address-links:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ocean);
}
/*main content styles*/
.hero {
  background-color: var(--navy-blue);
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
}
.btn {
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
}
.btn:hover {
  font-weight: 600;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-our-team {
  background-color: var(--cloud);
}
.workers-cards {
  background-color: var(--white);
}
.portfolio-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
}
.portfolio-filters:hover,
.portfolio-filters:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

/*footer*/
.footer-style {
  background-color: var(--navy-blue);
}
.logo-studio-light {
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
